body {
    background-size: cover;
    background-position: center;
    background-image: url("header-bg.jpg");
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.logo {
    font-family: "Kaushan Script","Helvetica Neue", Helvetica, Arial, cursive;
    color: #fed136;
    font-size: 28px;
    text-align: left;
    line-height: 42px;
    
}

button {
    background-color: #FED136;
    float: right;
    color: white;
    border: none;
    box-sizing: border-box;
    width: 70px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: stretch;
    position: relative;
    bottom: 35px;
    
}

.nav{
    text-align: right;
    height: 70px;
    line-height: 70px;
    color: white;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14.4px;
    letter-spacing: 1px;
    text-align: left;
}
.menu a:hover {
    color: #fed136;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    body {
        background-image:  ("header-bd.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
    }
    label {
        display: block;
        cursor: pointer;


    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        clear: right;
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }

}